#map{
    height: 100%;
    width: 100%;
}

.card{
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    background-color: white;
    height: 100px;
    margin: 12px;
}

.card h1{
    padding: 5px;
    font-size: 1.2em;
    background-color: #009688;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.card>.content{
    padding:5px;
}

.card span{
    padding:5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 0.9em;
}

.result{
    height:auto;
}
